#header-content div {
	display: inline;
}
#header-content .group-selector {
	float: right
}
.loader span {
	font-family: "Courier New", Courier, monospace;
}

.inputFields {
	display: flex;
	flex-direction: column;
}


.autocomplete {
	display: flex;
	flex-direction: column;
}/*

.autocomplete > div{
	position: absolute;
	background-color: white;
	border: 1px solid grey;
	width: 100%;
	
}
*/