header div {
	display: inline;
}
header .group-selector {
	float: right
}
.loader span {
	font-family: "Courier New", Courier, monospace;
}

.inputFields {
	display: flex;
	flex-direction: column;
}


.autocomplete:focus-within {
	position: relative;
}

.autocomplete-items {
	background-color: white;
	border: 1px solid grey;	
	display: flex;
	flex-direction: column;
	position: absolute;

	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items > div:hover {
	background-color: lightgray;
	cursor: pointer;
}

.autocomplete-items > .selected {
	background-color: cornflowerblue;
}

.user-row {
	display: flex;
	flex-direction: row;
	padding: 1px;
}